*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spotify-logo{
  margin:25px;
  margin-left: 30px;
}
.link{
  list-style-type: none;
  padding:0px 70px;
  color:rgb(51, 215, 103);
  margin:10px;
}
.Nav{
  background-color:black;
}
.spo-link{
  text-decoration: none;
  color:white;
  font-weight:bold;
  padding: 15px;
  transition: 2s  ;
  
  
}
.spo-link:hover{
  color:rgb(62, 255, 65);
  transition:1s;
  border-radius: 5px;
  background: linear-gradient(#303030,rgb(144, 194, 220));
}
.active{
  color:rgb(62, 255, 65);
  transition:1s;
  border-radius: 5px;
  background: linear-gradient(#303030,rgb(144, 194, 220));
}